body {
    margin: 0;
    padding: 0;
    background: url("assets/background.jpg") center center/cover no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, serif;
}

.overlay {
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.35);
    padding: 30px;
    border-radius: 15px;
}

h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    margin-bottom: 30px;
}

#enterBtn {
    padding: 18px 50px;
    font-size: 22px;
    background: transparent;
    color: white;
    border: 2px solid #d8c28f;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#enterBtn:hover {
    background: rgba(216,194,143,0.25);
    transform: scale(1.05);
}
